@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.cards {
  font-family: "Rubik", serif;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.cards .cards {
  width: 200px;
  height: 250px;
  background: #0a192f; /* Azul muito escuro */
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4); /* Sombra mais intensa */
}

.cards .cards .content {
  padding: 5px;
  z-index: 999;
}

.cards .cards .content h1 {
  color: #4c9aff; /* Azul claro */
  margin-bottom: 8px;
}

.cards .cards .content h3 {
  color: #a3bcd4; /* Cinza claro com azul */
  text-transform: uppercase;
  border-bottom: 1px solid #a3bcd4;
  padding-bottom: 5px;
}

.cards .cards .content p {
  max-width: 150px;
  color: #a3bcd4; /* Cinza claro com azul */
  margin-top: 10px;
  font-size: 0.8rem;
}

.cards .cards::before {
  content: '';
  position: absolute;
  width: 500px;
  background-image: linear-gradient(90deg, #1e3a63, #4c9aff); /* Azul médio -> Azul claro */
  height: 100px;
  animation: animate 5s linear infinite;
  transition: all .2s linear;
}

.cards .cards::after {
  content: '';
  position: absolute;
  background: #101010; /* Preto suave */
  inset: 6px;
  border-radius: 8px;
}
.cards .content p {
  font-style: italic;
}

@keyframes animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}